<div class="mt-5">
<div *ngIf= "isLogged; else loggedOut"></div>
<ng-template #loggedOut>
  <div class="container d-flex justify-content-center text-center">
    <div class="card">
      <div class="card-header">
        <h3 >Registrar nuevo usuario</h3>
      </div>
      <div class="card-body">
        <form #form="ngForm" (ngSubmit)="onRegister()" novalidate>

          <div class="form-floating mb-2">
            <input placeholder="Correo electrónico" type="text" name="email" id="email" class="form-control" [(ngModel)]="email" required>
            <label for="email">Correo electrónico</label>
          </div>
          <div class="form-floating mb-2">
            <input placeholder="Contraseña" type="password" (change)="comparePasswords()" name="password" id="password" class="form-control" [(ngModel)]="password" required>
            <label for="password">Contraseña</label>
          </div>
          <div class="form-floating mb-2">
            <input placeholder="Confirmar contraseña" (change)="comparePasswords()" pattern="{{password}}" type="password" name="password2" id="password2" class="form-control" [(ngModel)]="password2" required>
            <label for="password2">Confirmar contraseña</label>
            <div *ngIf="!areEqual && !password2pristine" class="alert alert-danger mt-2">
              <!-- <div *ngIf="password2.errors.required"> Password is required. </div>
              <div *ngIf="password.errors.pattern"> Password & Confirm Password does not match.</div> -->
              Las contraseñas no coinciden
            </div>
          </div>
          <div class="form-floating">
            <input placeholder="Nombre completo" type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="nombre" required >
            <label for="nombre">Nombre completo</label>
          </div>
          <div class="form-group d-grid mt-3">
            <button class="btn btn-outline-primary btn-block" [disabled]="!form.valid">Crear usuario</button>
          </div>

        </form>
        <div *ngIf="form.submitted && isRegisteredFail" class="alert alert-danger mt-3">Error al crear la cuenta: {{errMsg}}</div>

      </div>
      <div class="card-footer">
        <div class="form-group d-grid mt-3">
          <button class="btn btn-outline-danger" (click)="returnToLogin()">Cancelar</button>
        </div>

      </div>
    </div>
  </div>
</ng-template>
</div>
